#pic1{
width: 240px;
height: 300px;
}
#pic2{
width: 240px;
height: 300px;
}
#pic3{
width: 280px;
height: 300px;
}
#pic4{
width: 270px;
height: 300px;
}
body{
    background-color: #41A67E
;
}






















